name: Test and Lint

on:
    push:
        branches: [main]
    pull_request:
        branches:
            - "*"

jobs:
    lint:
        name: Lint Code
        runs-on: ubuntu-latest
        steps:
            - name: Repository checkout
              uses: actions/checkout@v5
            - name: Get swift version
              run: swift --version
            - name: Lint
              run: make checklint
    test:
        name: Test Xcode ${{ matrix.xcode }} - ${{ matrix.xcodebuildCommand }}
        runs-on: "macos-26"
        strategy:
            fail-fast: true
            matrix:
                xcode:
                    - "26.1.1"
                xcodebuildCommand:
                    - "-sdk iphonesimulator -destination 'platform=iOS Simulator,OS=26.1,name=iPhone 17'"
                    - "-sdk macosx -destination 'platform=macOS'"
                    - "-sdk xrsimulator -destination 'platform=visionOS Simulator,OS=26.1,name=Apple Vision Pro'"
                    - "-sdk appletvsimulator -destination 'platform=tvOS Simulator,OS=26.1,name=Apple TV 4K (3rd generation)'"
                    - "-sdk watchsimulator -destination 'platform=watchOS Simulator,OS=26.1,name=Apple Watch Series 11 (46mm)'"
        steps:
            - name: Repository checkout
              uses: actions/checkout@v5
            - name: Setup Xcode
              uses: maxim-lobanov/setup-xcode@v1
              with:
                  xcode-version: ${{ matrix.xcode }}

            - name: Build and Test
              run: xcodebuild test -scheme TelemetryDeck-Package ${{ matrix.xcodebuildCommand }}
