name: Test and Lint

on:
  push:
    branches: [main]
  pull_request:
    branches:
      - "*"

jobs:
  lint:
    name: Lint Code
    runs-on: ubuntu-latest
    steps:
      - name: Repository checkout
        uses: actions/checkout@v4
      - name: Lint
        uses: norio-nomura/action-swiftlint@3.2.1
        with:
          args: --strict
  test:
    name: Test Xcode ${{ matrix.xcode }} - ${{ matrix.xcodebuildCommand }}
    runs-on: "macos-26"
    strategy:
      fail-fast: true
      matrix:
        xcode:
          - "26"
        xcodebuildCommand:
          - "-sdk iphonesimulator -destination 'platform=iOS Simulator,OS=latest,name=iPhone 17'"
          - "-sdk macosx -destination 'platform=macOS'"
          - "-sdk xrsimulator -destination 'platform=visionOS Simulator,OS=latest,name=Apple Vision Pro'"
          - "-sdk appletvsimulator -destination 'platform=tvOS Simulator,OS=latest,name=Apple TV 4K (3rd generation)'"
          - "-sdk watchsimulator -destination 'platform=watchOS Simulator,OS=latest,name=Apple Watch Series 11 (46mm)'"
    steps:
      - name: Repository checkout
        uses: actions/checkout@v4
      - name: Setup Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: ${{ matrix.xcode }}
      - name: Build and Test
        run: xcodebuild test -scheme TelemetryDeck-Package ${{ matrix.xcodebuildCommand }}
